@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, Mr Sick!</h1>

Welcome to your new app, suiiii.

<SurveyPrompt Title="How is Blazor working for you?" />

<MyDices/> <!--Her inkluderes min komponent MyDices :D, kan man sige den bliver instanceret?-->















