
<!-- start component en kommentar -->
@page "/mydices"
<h3>My Dices</h3>


    <p>Første kast: @dice1Result</p>
    <p>Andet kast: @dice2Result</p>


<button class="btn btn-primary" @onclick="RollDice">Kast terningerne</button>


@code {
    private int dice1Result;
    private int dice2Result;
    private readonly Random random = new Random();

    private void RollDice()
    {
        dice1Result = random.Next(1, 7);
        dice2Result = random.Next(1, 7);
    }
}
