
<!-- start component en kommentar -->
@page "/mydices"
<h3>My Dices</h3>

Hello, welcome to the big enterprise site for dices

<p>My name is @name</p>

@code {
    private string name = "Anders And"; //her er en kommentar i koden
}
