@page "/shoppinglist"
@using Modul8_BlazorApp1.Client.Model;
@using Modul8_BlazorApp1.Shared;
@inject HttpClient Http;

<h1>ShoppingList</h1>

@if (Products == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table">

        <tbody>
            @foreach (var ShoppingItem in Products)
            {
                <tr class="bikeRow">
                    <td>
                        <h2>@ShoppingItem.Name - @ShoppingItem.Price</h2>
                        <button class="btn btn-primary" @onclick="() => DeleteItem(ShoppingItem)">Delete</button><br />
                        Price: @ShoppingItem.Price kr.
                    </td>
                </tr>
            }
        </tbody>
    </table>



}

@code {
    private ShoppingItem[]? Products;

    protected override async Task OnInitializedAsync()
    {
        Products = await Http.GetFromJsonAsync<ShoppingItem[]>("api/Shopping/getall");
    }

    private decimal CalculateTotalPrice()
    {
        decimal sum = 0;

        foreach (var shoppingItem in Products)
        {
            sum += shoppingItem.Price * shoppingItem.Amount;
        }
        return sum;
    }

    public string boolAsText(bool value)
    {
        return value ? "Yes" : "No";
    }

    private async Task DeleteItem(ShoppingItem shoppingItem)
    {
        await Http.DeleteAsync($"api/Shopping{shoppingItem.Id}");

        Products = await Http.GetFromJsonAsync<ShoppingItem[]>("api/Shopping");

        //StateHasChanged();
    }

}